menu "SysView profiler"

config SYSVIEW_INITIALIZATION
	bool "Initialize and config SystemView on start"
	default n
	select RTT_CONSOLE
	select SEGGER_SYSTEMVIEW

config SYSVIEW_LOG_KERNEL_EVENTS	
	bool "Log kernel events in SysView"
	depends on SYSVIEW_INITIALIZATION
	select KERNEL_EVENT_LOGGER
	select TASK_MONITOR
	select THREAD_MONITOR
	select RING_BUFFER
	default n

menu "Advanced"
	depends on SYSVIEW_LOG_KERNEL_EVENTS
	
config KERNEL_EVENT_LOGGER_BUFFER_SIZE
	int "Size of kernel event buffer"
	default 16

config SYSVIEW_LOG_KERNEL_EVENTS_CONTEXT_SWITCH
	bool "Log context switch events"
	select KERNEL_EVENT_LOGGER_CONTEXT_SWITCH
	default y

config SYSVIEW_LOG_KERNEL_EVENTS_INTERRUPT
	bool "Log interrupt events"
	select KERNEL_EVENT_LOGGER_INTERRUPT
	default n

config SYSVIEW_LOG_KERNEL_EVENTS_SLEEP
	bool "Log sleep events"
	select KERNEL_EVENT_LOGGER_SLEEP
	default n

config SYSVIEW_LOG_KERNEL_EVENTS_THREAD
	bool "Log thread events"
	depends on SYSVIEW_LOG_KERNEL_EVENTS
	select KERNEL_EVENT_LOGGER_THREAD
	default y

endmenu

config SYSVIEW_LOG_CUSTOM_EVENTS
	bool "Log custom events in SysView"
	depends on SYSVIEW_INITIALIZATION
	default n

config CUSTOM_EVENT_BUF_LEN
	int "Length of data buffer for custom event data(in bytes)"
	depends on SYSVIEW_LOG_CUSTOM_EVENTS
	default 64

config SYSVIEW_START_LOGGING_ON_SYSTEM_START
	bool "Start logging on system start"
	depends on SYSVIEW_INITIALIZATION
	default n

endmenu
